* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 60px;
    width: 100%;
    background-color: #015fac;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 23px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }




  .top-banner-section {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 350px; 
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;
  
    .banner-image-div {
      grid-area: 1 / 1 / 2 / 2;
    } 
    .banner-overlay-div {
      grid-area: 1 / 1 / 2 / 2;
    } 
    .banner-text-div {
      grid-area: 1 / 1 / 2 / 2;
    } 
  }
  
  .banner-image {
    display: grid;
    min-width: 350px; 
    width: 100%;
    height: 100vh;
    object-fit: cover; 
  }
  

  .banner-overlay-div {
    height: 100vh;
    display: grid;
    max-width: 100%;
    background: black;
    background: linear-gradient(
      60deg,
      rgba(0, 0, 0, 0.7777485994397759) 30%,
      rgba(255, 255, 255, 0) 100%)
  }
  
  .banner-text-div {
    display: grid;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .banner-h1-text {
    font-size: calc(10pt + 0.15vw);
    letter-spacing: 0.05em;
    font-weight: bolder;
    text-transform: uppercase;
    color: white;
  }
  
  .banner-body-text {
    font-size: calc(10pt + 0.15vw);
    margin-top: 0.5em;
    color: white;
    text-decoration: none;
  
    &:hover {
      color: white;
    }
    &:visited {
      color: white;
    }
    &:active {
      color: white;
    }
  }
  
  .banner-btn {
    margin-top: 1em;
  }
  
  .banner-btn-item {
    font-size: calc(8pt + 0.15vw);
    padding-top: calc(0.5em + 0.08vw);
    padding-bottom: calc(0.5em + 0.08vw);
    padding-left: calc(0.5em + 0.08vw);
    padding-right: calc(0.5em + 0.08vw);
    color: blue;
    background-color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid white;
  
    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
  }

















  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }